<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151057766591-2t84dfia9dp5e2qajoj160v1qbfov1s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151057766591-2t84dfia9dp5e2qajoj160v1qbfov1s7</string>
	<key>API_KEY</key>
	<string>AIzaSyBC2ZzvoMYojP0qHVtmXPp3pQB5-piFmqI</string>
	<key>GCM_SENDER_ID</key>
	<string>151057766591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickyshop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quickyshop-7be38</string>
	<key>STORAGE_BUCKET</key>
	<string>quickyshop-7be38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151057766591:ios:26bcb2281f267e17860e0a</string>
</dict>
</plist>